<div class="large-12 columns about">
	My name is David Begin, and I 25 year old Rubyist living in Portland, Oregon.
	I currently freelance, making Web Applications using mostly Ruby on Rails. I am passionate about 
	programming and technology, and love learning new things, whether that be wading through man pages or a spirited discuss
	with fellow programmers.
</div>
