.header_wrapper {
	
	.header {
		font-size: 5em;	
		font-weight: 100;
		margin-bottom: 15px;
		margin-top: 25px;
		
		a {
			color: #fff;	
		}
	}

	.icons {
		margin-top: 20px;
	}

	.icons .fa {
		margin: 0 .5em;
		float: right;
		font-size: 3em;	
		color: #fff;
	}
	
	.menu {
		display: inline;
		list-style: none;	
		width: 100%;

		li {
			display: inline;
		}

		.github, .email {
			display: none;	
		}

		a {
			font-size: 3em;	
			color: #fff;
			margin: 0 .5em;
			font-weight: 100;
		}
	}
}

.bars_wrapper {
	display: none;
	float: right;

	.fa-bars {
		margin: 20px;
		color: #fff;	
		font-size: 3em;
		cursor: pointer;
	}
}

@media (max-width: 1250px) {
	.header_link {
		font-size: 70px;
	}
	
	.icons .fa {
		margin:  .7em .3em 0 .3em;
		font-size: 2.5em;	
	}
}

@media (max-width: 1100px) {
	.header_wrapper {
		.menu {
			text-align: left;
			display: none;
			background: rgba(#999, .5);
			width: 170%;

			li {
				display: block;	

				a {
					font-size: 2em;	
				}
			}

			.github, .email {
				display: block;
			}
		}

		.icons {
			display: none;	
		}
	}
	
	.bars_wrapper {
		display: block;	
	}
}
