.portfolio_wrapper {
	background: rgba(#000, .7);
}

.website {
	margin: 40px 0;

	.header {
		font-size: 2em;	
		text-align: center;
		font-weight: 100;
		color: #fff;
		margin-bottom: 15px;
	}

	.description {
		text-align: center;
		color: #fff;	
		font-size: 1.3em;
		line-height: 1.5em;
		font-weight: 100;

		a {
		}
	}
}

.images {
}

.images li {
	margin: 10px;
}

