<% if flash[:notice] %>
	<div class="alert-box success"><%= flash[:notice] %></div>
<% elsif flash[:alert] %>
	<div class="alert-box"><%= flash[:alert] %></div>
<% elsif flash[:error] %>
	<div class="alert-box alert"><%= flash[:error] %></div>
<% end %>
